<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <h1><%= current_user.name %>'s Goals</h1>

    <ul>
      <% current_user.goals.each do |goal| %>
        <li><%= link_to "#{goal.description}", goal_path(goal) %></li>
      <% end %>
    </ul>

  </div>
</div>
