<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <h1><%= current_user.name %>'s Goals</h1>

    <p>
      <% current_user.goals.each do |goal| %>
        <%= link_to "#{goal.description}", goal_path(goal) %><br />
      <% end %>
    </p>

    <p><%= link_to "Set a new goal", new_goal_path %></p>

  </div>
</div>
