<%= render 'users/header' %>

<h1><%= @goal.description %></h1>

<p>Progress:<br />

<div class="row">
  <div class="col-4">
    <strong>Date:</strong>
  </div>

  <div class="col-4">
    <strong>Result:</strong>
  </div>

  <div class="col-4">
    <strong>Notes:</strong>
  </div>
</div>

<% generate_date_range(@goal.start_date, @goal.end_date, @goal.interval).each do |date| %>
  <div class="row">
    <div class="col-4">
      <%= "#{date}" %>
    </div>
    <div class="col-4">
      <% if @goal.results.find_by(goal_id: @goal.id, date: date) %>
        <%= "#{@goal.results.find_by(goal_id: @goal.id, date: date).status}" %>
      <% else %>
        -
      <% end %>
    </div>

  </div>
<% end %>
