/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Courier;
}

h1  {
  margin-bottom: 2%;
}

h4 {
  font-family: 'Avenir Next', avenir;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

div.container {
  width: 80%;
}

div.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div.main {
  text-align: center;
  padding: 10% 0;
}

div.main h1, div.main h3 {
  padding-bottom: 20px;
}

div.main p {
  padding: 1%;
}

p.button {
  padding: 5%;
}

p.menu {
  padding-top: 5%;
}

div.secondary {
  text-align: center;
  padding: 0 0 10% 0;
}

div.secondary h3 {
  padding-bottom: 5%;
}

div.blank-result {
  width: 70px;
  height: 70px;
  border: 1px solid #EEE;
  line-height: 400%;
}

div.green-result {
  width: 70px;
  height: 70px;
  background-color: #01FF70;
  line-height: 400%;
}

div.red-result {
  width: 70px;
  height: 70px;
  background-color: #FF4136;
  line-height: 400%;
}

div.table-header {
  background-color: #000;
  color: #FFF;
}

div.notes-col {
  text-align: left;
  border-left: 2px solid #FF4136;
  padding-left: 20px;
  padding-bottom: 10px;
}

div.notes-col-success {
  text-align: left;
  border-left: 2px solid #01FF70;
  padding-left: 20px;
  padding-bottom: 10px;
}

div.table-row {
  border-bottom: 1px solid #EEE;
}

li.nav-item {
  padding: 10px 20px;
}

span.priority {
  font-size: 0.8em;
  font-family: 'Avenir Next', avenir;
  background-color : #7FDBFF;
  padding: 2px 4px;
}

span.end-date {
  color :#AAA;
  font-size: 0.8em;
  font-family: 'Avenir Next', avenir;
  position: relative;
  top: -5px;
}
